.related-table-field .border.border-gray-300.rounded-xl {
    border: none;
    box-shadow: none;
}

/* Tables */
.filament-tables-header {
    position: absolute;
    top: 0;
    width: 100%;
}
.related-table-field .filament-tables-header {
    right: 10px;
}
.filament-tables-hr {
    display: none;
}
.filament-tables-modal-actions {
    @apply justify-center;
}
